
    
   

.m_header
    margin-bottom: 150px
.offer 
    width: 100vw
    height: 100vh
    position: relative
    overflow: hidden    
    background: rgba(0, 0, 0, 0.41) 
    overflow: hidden    
        
    &-sin
        position: absolute
        //height: 100%
        width: 130%
        top: 0
        left: 50% 
        
        transform: translate(-50%, 0%) 
        object-fit: cover
        z-index: -1
    
    &-block
        padding-top: 150px
        margin-bottom: 70px        
        &__title
            display: block
            +montb           
            font-size: 50px
                
        &__description
            max-width: 600px
            display: block
            +montl          
            font-size: 30px
            margin-bottom: 20px
            span
                    +montb
                    //color: red 
                    font-size: 34px       
    

.options
    display: flex       
    justify-content: start
    padding-bottom: 150px
    
    
    &__gamer
        border-left: 1px solid rgba($white, 0.3)
        border-top: 1px solid rgba($white, 0.3)
        padding: 20px 30px
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: start
        align-items: center
        &-text
            font-size: 12px
            +montl
            margin-bottom: 10px
        &-number
            font-size: 25px
            +montl
    &__time
        border-left: 1px solid rgba($white, 0.3)
        border-top: 1px solid rgba($white, 0.3)
        padding: 20px 25px        
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: start
        align-items: center
        &-text
            font-size: 12px
            +montl
            margin-bottom: 10px
        &-number
            font-size: 25px
            +montl
    &__price
        border-left: 1px solid rgba($white, 0.3)
        border-top: 1px solid rgba($white, 0.3)
        padding: 20px 25px        
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: start
        align-items: center
        &-text
            font-size: 12px
            +montl
            margin-bottom: 10px
        &-number
            font-size: 25px
            +montl
    &__level
        border-left: 1px solid rgba($white, 0.3)
        border-top: 1px solid rgba($white, 0.3)
        padding: 20px 25px        
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: start
        align-items: center
        &-text
            font-size: 12px
            +montl
            margin-bottom: 10px
        &-number
            font-size: 25px
            +montl
    &__crayzy
        border-left: 1px solid rgba($white, 0.3)
        border-top: 1px solid rgba($white, 0.3)
        padding: 20px 25px       
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: start
        align-items: center
        &-text
            font-size: 10px
            +montl
            margin-bottom: 10px
        &-number
            display: flex
            img
                display: block
                padding: 0 5px                
                
    &__age
        padding: 20px 25px
        border-left: 1px solid rgba($white, 0.3)
        border-top: 1px solid rgba($white, 0.3)        
        display: flex
        flex-wrap: wrap
        flex-direction: column
        justify-content: start
        align-items: center
        &-text
            font-size: 12px
            +montl
            margin-bottom: 10px
        &-number
            font-size: 25px
            +montl


@media (max-width: 430px)
    .m_header
        margin-bottom: 50px
      
    .offer
        width: 100vw
        height: 100vh           
        &-sin
            position: absolute
            height: 100%  
           
        &-block            
            padding-top: 70px
            margin-bottom: 50px
            &__title
                font-size: 40px
            &__description
                font-size: 20px 
                margin-bottom: 10px
                
                span
                    +montb
                    //color: red 
                    font-size: 24px          
                
    .options
        flex-direction: column
        max-width: 230px
        &__crayzy
            display: flex
            flex-wrap: nowrap
            flex-direction: row            
            justify-content: flex-start
            padding: 15px 15px           
            &-text
                display: block
                font-size: 13px
                margin-bottom: 0
                margin-right: 10px
                //vertical-align: center
                line-height: 16px
            &-number                
                justify-content: start
                width: 20px
                height: auto   
                img
                    padding: 0
                    width: 100%
        &__age
            display: flex
            flex-wrap: nowrap
            flex-direction: row            
            justify-content: flex-start
            padding: 15px 15px          
            &-text
                display: block
                font-size: 13px
                margin-bottom: 0
                margin-right: 10px
                //vertical-align: center
                line-height: 16px
            &-number
                justify-content: start
                //width: 20px
                +montb
                font-size: 16px
                height: auto   
                img
                    padding: 0
                    width: 100%
        &__level         
            flex-wrap: nowrap
            flex-direction: row            
            justify-content: flex-start
            padding: 15px 15px          
            &-text
                display: block
                font-size: 13px
                margin-bottom: 0
                margin-right: 10px                
                line-height: 16px
            &-number
                display: flex
                justify-content: start
                width: 20px
                +montb
                font-size: 16px
        &__price
            flex-wrap: nowrap
            flex-direction: row            
            justify-content: flex-start
            padding: 15px 15px      
            &-text               
                display: block
                font-size: 13px
                margin-bottom: 0
                margin-right: 10px                
                line-height: 16px
            &-number
                display: flex
                flex-direction: row
                justify-content: start
                //width: 20px
                +montb
                font-size: 16px
        &__time
            flex-wrap: nowrap
            flex-direction: row            
            justify-content: flex-start
            padding: 15px 15px      
            &-text               
                display: block
                font-size: 13px
                margin-bottom: 0
                margin-right: 10px                
                line-height: 16px
            &-number
                display: flex
                flex-direction: row
                justify-content: start
                //width: 20px
                +montb
                font-size: 16px
        &__gamer
            flex-wrap: nowrap
            flex-direction: row            
            justify-content: flex-start
            padding: 15px 15px      
            &-text               
                display: block
                font-size: 13px
                margin-bottom: 0
                margin-right: 10px                
                line-height: 16px
            &-number
                display: flex
                flex-direction: row
                justify-content: start
                //width: 20px
                +montb
                font-size: 16px
                 
                


        

        


    
    

    
    